.box-custom {
  background-color: #151b21 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #18C3EA;
  border-radius: 0 !important;
}

.link {
  text-decoration: underline;
}

.force-teal {
  color: #18C3EA !important;
}

.title {
  color: #18C3EA;
}

.subtitle {
  color: #ffffff;
}

.teal-text {
  color: #18C3EA !important;
}

.dashboard-wrap {
  display: flex;
  flex-direction: column;
}

.single-col-table {
  margin-bottom: 3em;
}

.main-title-wrap {
  padding-bottom: 3em;
}

.main-title {
  font-size: 2.5em;
  display: inline;
}

.dashboard-title {
  display: inline;
  padding-right: 0.5em;
}

.roll-dpos-title {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-weight: lighter;
  display: inline;
}

.rollDpos-tooltip {
  margin-left: 10px;
}

.live-tag {
  background-color: #18C3EA;
  color: #151b21;
  width: 50px;
  height:100px;
  border-radius: 5px;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.live-tag-icon {
  width: 5px !important;
  margin-left: 8px !important;
  margin-right: 5px !important;
}

.live-tag-text {
  padding-right: 10px;
}

.vote-arrow {
  margin-right: 1em;
}


// TOOL TIP

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext-left,
.tooltip .tooltiptext-right {
  visibility: hidden;
  width: 150px;
  background-color: #18C3EA;
  color: #151b21;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 4;
  top: -5px;
  word-break: break-word;
  font-size: 0.75em;
}

.tooltip .tooltiptext-left {
  right: 110%;
}

.tooltip .tooltiptext-right {
  left: 110%;
}

.dashboard-tooltip {
  margin-top: -15px;
}

.dashboard-tooltip.tooltiptext-left {
  margin-right: 10px;
}

.dashboard-tooltip.tooltiptext-right {
  margin-left: 10px;
}

.tooltip .dashboard-tooltip.tooltiptext-left::after,
.tooltip .dashboard-tooltip.tooltiptext-right::after {
  margin-top: 0px;
}

.tooltip .tooltiptext-left::after,
.tooltip .tooltiptext-right::after {
  content: "";
  position: absolute;
  top: 20px;
  margin-top: -5px;
  border: 5px solid transparent;
}

.tooltip .tooltiptext-left::after {
  left: 100%;
  border-left-color: #18C3EA;
}

.tooltip .tooltiptext-right::after {
  right: 100%;
  border-right-color: #18C3EA;
}

.tooltip:hover .tooltiptext-left,
.tooltip:hover .tooltiptext-right {
  visibility: visible;
}

// Buttons
.static-button {
  background-color: #151b21 !important;
  border-color: #73fbe1 !important;
  color: #6c7175 !important;
}

// Navbar
.navbar-menu, .navbar-dropdown {
  background-color: #333333;
  color: #ffffff;
}

.navbar-link:hover {
  background-color: #333333 !important;
  color: #ffffff !important;
}

a.navbar-item:hover {
  background-color: #333333 !important;
  color: #73fbe1 !important;
}

.navbar-item, .navbar-link {
  color: #ffffff;
}

.nav-price {
  background-color: #1a2733;
  color: #ffffff;
}

.nav-price-col {
  padding: 0.2rem;
}

// Wallet
.tabs li.is-active a, .tabs a:hover {
  border-bottom-color: #00b4a0;
  color: black;
}

.abi-field {
  border-bottom: 1px solid #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dialogue-table {
  background-color: #f7f7f7;
}

.content table td, .content table th {
  border: 0;
}

.content table td {
  color: #999999;
}

.c2-table {
  color: #000000 !important;
}

// Navbar
.navbar-menu, .navbar-dropdown {
  background-color: #333333;
  color: #ffffff;
}

a.navbar-item:hover, .navbar-link:hover {
  color: #73fbe1 !important;
}

.navbar-item, .navbar-link {
  color: #ffffff;
}

.nav-price {
  background-color: #1a2733;
  color: #ffffff;
}

.nav-price-col {
  padding: 0.2rem;
}

// wallet

.blur-image {
  filter:blur(9px);
}

.centered-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.new-wallet-text {
  height: auto;
  margin: 10% auto;
  width: 80%;
}

.inline-item {
  display: inline-block;
}

.float-right {
  float: right;
}

.wallet {
  position: relative;
  border-radius: 4px;
  border: solid 1px #f0f0f0;
  max-width: 288px;
  height: 492px;
  word-break: break-word;
}

.wallet-margin {
  margin: 10% 8%;
}

.wallet-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: bold;
}

#iotx-balance {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size:28px;
}
#iotx-balance b {
  padding-left: 5px;
  font-size: 16px;
}

.transaction-history-tag {
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.private-key {
  font-size: 24px;
  font-weight: bold;
  color: #e54937;
  background-color: rgb(253, 237, 235);
  padding-left: 10px;
  padding-right: 10px;
  max-width: 130px;
  margin-left: 10px;
  display: inline-block;
}

.contract-card {
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  border-radius: 4px;
  height: 368px;
  position: relative;
}

.contract-card:hover {
  box-shadow: 0 2px 8px 0 rgba(21, 26, 33, 0.43);
}

.contract-card-container {
  padding-top: 24px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif!important;
}

.footer_link {
  padding-left: 5px;
  padding-right: 5px;
}

.footer_icon {
  font-size: 2em;
}

container {
  width: 100%;
}

.navbar.is-fixed-top {
    top: 0;
    width: calc(100% - 200px);
    margin-left: 200px;
}
.column.container {
  width: calc(100% - 200px);
  margin-left: 200px;
}
.container {
  width: calc(100% - 200px);
  margin-left: 200px;

}
.footer{
    width: calc(100% - 200px);
    margin-left: 200px;
}




.left_menu{
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #333;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px 3px #191919;


  // border:1px solid red;
  .logo {
    width: 160px;
    height: 160px;
  }
  .navbar-menu_global{
      width: 45%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    .navbar-item {
      display: block;
      color: #fff;
      font-size: 16px;
      &:hover {
        background: transparent!important;
      }
    }
  }
}
.tile.is-ancestor:not(:last-child) {
    margin-bottom:0!important;
}
// .tile:not(.is-child) {
//   display: block!important;
// }
.tile.is-child {
    margin: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
  width: 120px;
    font-size: 13px!important;
    font-weight: 600;
    display: flex!important;
    line-height: 1.2!important;
    align-items: center!important;
    justify-content: center;
}
.dashboard-wrap {
    display: flex;
    flex-direction: row;
    padding: 0!important;
}
.navbar>.container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    max-width: 99%;
    margin-left: 2px;
}
.navbar-end {
    justify-content: space-between;
    margin-left: 0!important;
    width: 100%;
    padding: 0 3%;
}
.title.has-text-centered {
  text-align: center;
}
.navbar-menu, .navbar-dropdown {
  background: #fff!important;
}
.force-teal {
  color: #18C3EA !important;
  font-size: 13px;
  display: block;
  margin-top: -12px;
}
.force-teal.dashboard-title.subtitle {
    color: #4a4a4a!important;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.2;
    padding-right: 0!important;
}
.title.has-text-centered {
    color: black;
    font-weight: bold;
}
.column {
    padding: 1px 0.75rem;
}
  .title.main-title {
    display: none!important;
  }
  .live-tag-text {
    padding-right: 0!important;
  }
  .live-tag {
    background: transparent!important;
  }
  .column.container.main-title-wrap .live-tag::before{
    position: absolute;
    content: 'Live';
    color: #f2f2f2f;
    font-size: 14px;
    font-weight: 100;
    top: 1px;
    right: -60px;

  }
  .svg-inline--fa.fa-square-full {
    transform: rotate(45deg);
    color: #18C3EA;
    font-size: 16px;
    width: 8px!important;

  }


.navbar > .container {
    align-items: stretch;
    display: flex;
    height: 30px;
    width: 100%;
    max-width: 99%;
    margin-left: 2px;
}
.field.has-addons {
    display: flex;
    justify-content: flex-start;
    height: 30px!important;
}
.column.container.main-title-wrap {
  margin-top: -27px;
}
.tile.is-ancestor:last-child {
    margin-bottom: 0!important;
}
.select.is-fullwidth {
    width: 100%;
    background: #333333;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #ffffff;
    right: 1.125em;
    z-index: 4;
}
.select.is-fullwidth select {
    width: 100%;
    background: transparent;
    color: #fff;
}
.select.is-fullwidth select option {
  background: #333333;
}
.column.is-one-third, .column.is-one-third-tablet {
    flex: none;
    width: 33.3333%;
    display: flex;
    align-items: center;
}
.footer {
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 60px;
    padding: 0!important;
    background-color: #dc7350;
    background-image: linear-gradient(to right, #dc7350 , #40c3e9);
}

.bx--data-table-v2 a, .bx--data-table-v2 td {
    font-size: 12px;
    width: 100%;
    padding: 0 !important;
    color: #a7a7a7;
}
.bx--data-table-v2 tr {
    height: 55px;
}
._b {
    background-color: #333333;
}
.bx--data-table-v2 tr:hover td {
    background-color: #3b3a3c;
    border:none !important;
}
.bx--data-table-v2 tr td {
    border:none !important;
}
.bx--data-table-v2 tr {
    height: 40px;
    /* margin-bottom: 76px; */
    background: #191919;
    box-shadow: 3px 7px 18px #191919;
}
.bx--data-table-v2 th:first-of-type, .bx--data-table-v2 td:first-of-type,
.bx--data-table-v2 th:last-of-type, .bx--data-table-v2 td:last-of-type {
  padding-right: 1.5rem;
  border: none !important;
  color: #fff;
  width: 100%;
  height: 38px;
  box-shadow: 0px -3px 12px #191919;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-col-header {
    text-align: center !important;
    font-size: 22px;
    word-break: break-all;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 150px;
      height: 2px;
      background: #18C3EA;
      bottom: -2px;

    }
}

.tile.is-ancestor{
  margin: 0!important
}
.field.has-addons .control:first-child .input,
.field.has-addons .control:last-child .button,
.select.is-fullwidth,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
  height: 30px;
    border-radius: 0;
}
.single-col-table{
  .title {
    margin-bottom: 10px;
  }
}

.breadcrumb {
    font-size: 1rem;
    white-space: nowrap;
    margin-top: 4px;
    padding-top: 12px;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        display: flex;
        align-items: center;
      }
    }
}
.breadcrumb li+li::before {
    color: #b5b5b5;
    content: "\0002f";
    margin-top: -10px;
}




a.navbar-item:hover, .navbar-link:hover{
  color: #18C3EA!important;
}
.static-button {
    background-color: #151b21 !important;
    border-color:#18C3EA!important;
    color: #6c7175 !important;
}
._t {
  border-color: #18C3EA!important;
}
._x:hover, ._y:hover, ._t:hover {
    border-color: #18C3EA!important;
    background:  #18C3EA!important;
    color: #fff;
}
.container.column{
  &._a {}
  &._e {padding-top: 0px!important;}
  &._f {
    margin-bottom: 0rem!important;
  }
}

.columns.lorem {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1450px;
  margin: 30px -190px 30px auto;

  // border: 2px solid blue;
}

.column.lorem {
  display: flex;
  width: 100%;
  position: relative;
  &.l1 {
    margin-bottom: 30px;
    height: 400px;
  }
  &.l2 {
    margin-bottom: 30px;
    height: 400px;
  }
  &.l3 {
    margin-bottom: 30px;
    height: 400px;
  }
  &.l4 {
    margin-bottom: 30px;
    height: 400px;
  }

  // border:1px solid red;

  .single-col-table {
    margin-bottom: 3em;
    width: 100%;
    position: relative;
  }
  .bx--data-table-v2 {
    border-bottom: 1px solid transparent!important;
    tr {
      display: flex;
      flex-direction: row;
      td {
        width: 100%;
        display: flex;
        align-items:  center;
        justify-content: center;
      }
    }
  }

}





.column.container.main-title-wrap {
  margin-left: 100px;
}



@media only screen and (max-width: 1800px) {
  .columns.lorem {
    margin: 30px -30px 30px auto;
  }
}
@media only screen and (max-width: 1600px) {
  .columns.lorem {
    margin:30px auto;
  }
  .navbar-end {
      padding: 0;
  }
  .field.has-addons {
    display: flex;
    justify-content: flex-start;
    height: 38px !important;
    width: 85%;
  }
  .title.has-text-centered {
    width: 100px;
  }
  .tile.is-parent {
    padding: 0;
  }

}

@media only screen and (max-width: 1440px) {


}
@media only screen and (max-width: 1336px) {


}

@media only screen and (max-width: 1200px) {


}
