* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer_link {
  padding-left: 5px;
  padding-right: 5px;
}

.footer_icon {
  font-size: 2em;
}

container {
  width: 100%;
}

.navbar.is-fixed-top {
    top: 0;
    width: calc(100% - 200px);
    margin-left: 200px;
}
.column.container {
  width: calc(100% - 200px);
  margin-left: 200px;
}
.container {
  width: calc(100% - 200px);
  margin-left: 200px;

}
.footer{
    width: calc(100% - 200px);
    margin-left: 200px;
}




.left_menu{
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #333;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border:1px solid red;
  .logo {
    width: 100%;
    height: 160px;
  }
  .navbar-menu_global{
      width: 45%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    .navbar-item {
      display: block;
      color: #fff;
      font-size: 16px;
      &:hover {
        background: transparent!important;
      }
    }
  }
}
.tile.is-ancestor:not(:last-child) {
    margin-bottom:0!important;
}
// .tile:not(.is-child) {
//   display: block!important;
// }
.tile.is-child {
    margin: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
  width: 120px;
    font-size: 15px!important;
    font-weight: 600;
    display: flex!important;
    line-height: 1.2!important;
    align-items: center!important;
    justify-content: center;
}
.dashboard-wrap {
    display: flex;
    flex-direction: row;
    padding: 0!important;
}
.navbar>.container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    max-width: 99%;
    margin-left: 2px;
}
.navbar-end {
    justify-content: space-between;
    margin-left: 0!important;
    width: 100%;
    padding: 0 3%;
}
.title.has-text-centered {
  text-align: center;
}
.navbar-menu, .navbar-dropdown {
  background: #fff!important;
}
.force-teal.dashboard-title.subtitle {
    color: #4a4a4a!important;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2;
    padding-right: 0!important;
}
.title.has-text-centered {
    color: black;
    font-weight: bold;
}
.column.container.main-title-wrap {
  .title.main-title {
    display: none!important;
  }
  .live-tag-text {
    padding-right: 0!important;
  }
  .live-tag {
    background: transparent!important;
  }
  .column.container.main-title-wrap .live-tag::before{
    position: absolute;
    content: '#';
    color: #f2f2f2f;
    font-size: 14px;
    font-weight: 100;
    top: 0;
    right: 0;

  }
  .svg-inline--fa.fa-square-full {
    transform: rotate(45deg);
    color: #18C3EA;
    font-size: 22px;
    width: 12px!important;

  }


.navbar > .container {
    align-items: stretch;
    display: flex;
    height: 80px;
    width: 100%;
    max-width: 99%;
    margin-left: 2px;
}
.field.has-addons {
    display: flex;
    justify-content: flex-start;
    height: 38px!important;
}
.column.container.main-title-wrap {
  margin-top: -40px;
}
.tile.is-ancestor:last-child {
    margin-bottom: 0!important;
}
